[submodule "SpringCloud_server_config"]
	path = SpringCloud_server_config
	url = https://github.com/k-wasilewski/SpringCloud_server_config
[submodule "SpringCloud_client"]
	path = SpringCloud_client
	url = https://github.com/k-wasilewski/SpringCloud_client
[submodule "SpringCloud_client_books"]
	path = SpringCloud_client_books
	url = https://github.com/k-wasilewski/SpringCloud_client_books
[submodule "SpringCloud_client_ratings"]
	path = SpringCloud_client_ratings
	url = https://github.com/k-wasilewski/SpringCloud_client_ratings
[submodule "SpringCloud_server_gateway"]
	path = SpringCloud_server_gateway
	url = https://github.com/k-wasilewski/SpringCloud_server_gateway
[submodule "SpringCloud_server_discovery"]
	path = SpringCloud_server_discovery
	url = https://github.com/k-wasilewski/SpringCloud_server_discovery

[submodule "SpringCloud_task_db"]
	path = SpringCloud_task_db
	url = https://github.com/k-wasilewski/SpringCloud_task_db
 
