version: "3.1"
services:
  server:
    container_name: server
    image: server:latest
    ports:
      - 8888:8888
    networks:
      - sc1

  discovery:
    container_name: discovery
    image: discovery:latest
    ports:
      - 8083:8083
    links:
      - server
    depends_on:
      - server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8888/login"]
    networks:
      - sc1

  gateway:
    container_name: gateway
    image: gateway:latest
    ports:
      - 8084:8084
    links:
      - server
      - discovery
      - redis
    depends_on:
      - server
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8888/login"]
    networks:
      - sc1

  client:
    container_name: client
    image: client:latest
    ports:
      - 8082:8082
    links:
      - server
      - discovery
    depends_on:
      - server
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8888/login"]
    networks:
      - sc1

  books:
    container_name: books
    image: books:latest
    ports:
      - 8085:8085
    links:
      - server
      - discovery
      - db
    depends_on:
      - server
      - db
      - kafka
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8888/login"]
    networks:
      - sc1

  ratings:
    container_name: ratings
    image: ratings:latest
    ports:
      - 8086:8086
    links:
      - server
      - discovery
      - db
    depends_on:
      - server
      - db
      - kafka
    healthcheck:
      test: ["CMD", "curl", "-f", "http://server:8888/login"]
    networks:
      - sc1

  scdf:
    container_name: scdf
    image: scdf:latest

  zookeeper:
    container_name: zookeper
    image: 'bitnami/zookeeper:latest'
    ports:
      - 2181:2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - sc1

  kafka:
    image: 'bitnami/kafka:latest'
    container_name: kafka
    ports:
      - 9092:9092
    environment:
      - ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ADVERTISED_PORT=9092
    depends_on:
      - zookeeper
    networks:
      - sc1

  redis:
    image: redis
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - sc1

  db:
    image: mysql:5.7
    container_name: db
    restart: always
    command: --character-set-server=utf8 --collation-server=utf8_general_ci --skip-character-set-client-handshake
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=cloud
    volumes:
      - /home/kuba/Desktop/projects/SpringCloud/db:/var/lib/mysql
    networks:
      - sc1

  adminer:
   image: adminer
   container_name: adminer
   ports:
      - 5000:8080
   networks:
      - sc1

networks:
  sc1:
    driver: bridge
